body {
    margin: 20px;
    font-size: 150%;
    font-family: 'Lobster Two', cursive;
}

.all-content {
    padding: 10px;
}

.btn {
    margin: 5px;
}
#sushi{
    height:100px;
    width:200px;
}
#padthai{
    height:150px;
    width:200px;
}
#noodle{
    height:150px;
    width:200px;
}
#food{
    font-size:20px;
}